.header-container{
    background-color: rgb(226, 222, 202);
    align-items: center;
    justify-content: center;
    font-family: 'Prata', serif;
    padding-bottom: 50px;
    padding-top: 80px;
    margin: auto;
    text-decoration: none;
   }
   
   .h-card{
       /* border-radius: 40px; */
   }